@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

/* semantic color variables for this project */
:root {
  --color-background: black;
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: white;

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: "Syne Mono", monospace;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-shadow: 0 10px 5px white;
}

.typewriter {
  overflow: hidden;
  animation: typing 4s steps(40, end) infinite;
  white-space: nowrap;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

button {
  color: hsla(160, 100%, 37%, 1);
  border: 0.1em solid hsla(160, 100%, 37%, 1);
  background-color: transparent;
  font-family: "Syne Mono", monospace;
  font-weight: bold;
  padding: 1em;
}

button:hover {
  background-color: hsla(160, 100%, 37%, 1);
  color: black;
  transition: 0.5s ease-in-out;
}

button:active {
  transform: scale(1.3);
}